/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Estilos para el modo claro */
:root {
  --font-primary: "Montserrat", sans-serif;
  --bg-color: #ffffff;
  --text-color: #151515;
  --border: 1px solid #151515;
}

/* Estilos para el modo oscuro */
.dark-mode {
  --font-primary: "Montserrat", sans-serif;
  --bg-color: #151515;
  --text-color: rgb(210, 202, 165);
  --border: 1px solid rgb(210, 202, 165);
}

/* Reseteo de estilos para los navegadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Aplicar las variables */
body {
  font-family: var(--font-primary);
  background-color: var(--bg-color);
  color: var(--text-color);
  letter-spacing: 0.3px;
  transition: background-color 0.6s ease, color 0.6s ease;
  -webkit-transition: background-color 0.6s ease, color 0.6s ease;
  -moz-transition: background-color 0.6s ease, color 0.6s ease;
  -ms-transition: background-color 0.6s ease, color 0.6s ease;
  -o-transition: background-color 0.6s ease, color 0.6s ease;
  text-align: center;
  height: 100vh;
  align-content: center;
}

img {
  max-width: 70px;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Button */
#toggle-dark-mode {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-primary);
  border: var(--border);
  font-weight: 500;
  letter-spacing: 1.5px;
  font-size: 0.8rem;
  padding: 10px 20px;
  text-transform: uppercase;
}

#toggle-dark-mode:hover {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.3s ease;
  -moz-transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.3s ease;
  -ms-transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.3s ease;
  -o-transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.3s ease;
}

#toggle:hover {
  background-color: #000;
  color: #fff;
  border: none;
  outline: 0;
  border: 1px solid #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.3s ease;
  -moz-transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.3s ease;
  -ms-transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.3s ease;
  -o-transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.3s ease;
}

/* Numeros del horario */
#clock {
  font-size: 2rem;
  color: #000;
  font-weight: 400;
  letter-spacing: 2px;
}

.dark-mode #clock {
  color: #d8eeef;
}
